.form{
    border: 2px solid black;
    /* text-align: center; */
    display: grid;
    justify-content: center;
    padding: 1px 10px 15px 10px;
    width: 25rem;
    border-radius: 1rem;
    /* background-color: cadetblue; */
    
}
.formcenter{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.formname{
    font-size: 1rem;
    margin-top: 1rem;
}
.forminput{
   width: 23rem;
   height: 2rem;
   border: 1px solid black;
   border-radius: 8px;
   margin-top: 5px;
   padding-left: 2px;
   


}
.formbuttton{
    margin-top: 1rem;
    margin-left: 1rem;
    width:10rem;
    height: 2rem;
    font-size:  1.5rem;
    background-color: cadetblue;
    border-color: cadetblue;
    border-radius: 10px;
    cursor: pointer;

}
.formbutttonn{
    margin-top: 1rem;
    margin-left: 1rem;
    width:10rem;
    height: 2rem;
    font-size:  1.5rem;
    background-color: cadetblue;
    border-color: cadetblue;
    border-radius: 10px;
    cursor: pointer;


}
.h{
    margin-top: 10px;
}
.formotp{
     /* display: inline; */
     text-align: center;
     justify-content: space-between;
     margin-left: 2.7rem;
    margin-top: 20px;
     padding:center;
     align-items: center;
     width: 2rem;
    height: 3rem;
    border-radius: 8px;
 background-color: transparent;
}
.otp{
    display: flex
}

.formfrom{
    border: 2px solid black;
    /* text-align: center; */
 margin-top: 20px;
    justify-content: center;
    padding: 1px 10px 15px 10px;
    width: 25rem;
    border-radius: 1rem;

}
.hotp{
    margin-top: 10px;
    margin-left: 10px;
}
.formselect{
    margin-top: 15px;
    margin-bottom: 15px;
    /* width: 100px; */
   width: 23rem;
border: 1px solid black;
    height: 2rem;
    border-radius: 8px;
}
